*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/vcs\.xml

\.idea/
app/src/main/res/drawable/
app/src/main/res/drawable-xxhdpi/logo2.png
app/src/main/res/drawable-xhdpi/logo2.png
app/src/main/res/drawable-hdpi/logo2.png