*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/vcs\.xml

app/src/main/res/drawable-xxhdpi/

app/src/main/res/drawable-xhdpi/

app/src/main/res/drawable-hdpi/

\.idea/

app/src/main/res/drawable/
