<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nearit.ui_bindings">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:allowBackup="true">
        <activity
            android:name=".permissions.NearItPermissionsActivity"
            android:theme="@style/NearItUIPermissionsDialog"
            android:exported="false" />

        <activity android:name=".coupon.NearItCouponDetailActivity"
            android:exported="false" />
    </application>

</manifest>