<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nearit.ui_bindings">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".permissions.NearItPermissionsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NearItUIPermissionsDialog" />

        <activity
            android:name=".coupon.NearItCouponDetailActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NearItUICouponDetailDialog" />
        <activity
            android:name=".feedback.NearItFeedbackActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NearItUIFeedbackDialog" />

        <receiver android:name="com.nearit.ui_bindings.notifications.NearItUIAutoTrackingReceiver"
            android:exported="false" />

        <!--<service android:name="com.nearit.ui_bindings.notifications.NearItUIIntentService"-->
            <!--android:exported="false" />-->

        <service
            android:name=".notifications.NearItUIIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="it.near.sdk.permission.PUSH_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="it.near.sdk.permission.GEO_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>