<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nearit.ui_bindings">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".permissions.NearItPermissionsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NearItUIPermissionsDialog" />

        <activity
            android:name=".coupon.NearItCouponDetailActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NearItUICouponDetailDialog" />
        <activity
            android:name=".feedback.NearItFeedbackActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NearItUIFeedbackDialog" />

        <receiver android:name="com.nearit.ui_bindings.notifications.NearItUIAutoTrackingReceiver"
            android:exported="false" />

        <service android:name="com.nearit.ui_bindings.notifications.NearItUIIntentService"
            android:exported="false" />

    </application>

</manifest>