<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.your_company.ui_bindings_kotlin_sample">

    <application
        android:name="NearItUISample"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.your_company.ui_bindings_kotlin_sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="near_api_key"
            android:value="@string/near_api_key" />

        <activity android:name="com.your_company.ui_bindings_kotlin_sample.PermissionsActivity" />
        <activity android:name="com.your_company.ui_bindings_kotlin_sample.CouponsActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name="com.your_company.ui_bindings_kotlin_sample.ContentActivity" />
        <activity android:name="com.your_company.ui_bindings_kotlin_sample.FeedbackActivity" />
        <activity android:name="com.your_company.ui_bindings_kotlin_sample.CouponPlainActivity" android:label="Coupon detail activity"/>
        <activity android:name="com.your_company.ui_bindings_kotlin_sample.FeedbackPlainActivity" android:label="Feedback activity"/>
        <activity android:name="com.your_company.ui_bindings_kotlin_sample.ContentPlainActivity" android:label="Content detail activity"/>
        <activity android:name="com.your_company.ui_bindings_kotlin_sample.CouponListPlainActivity" android:label="Coupon list activity"/>
        <activity android:name=".NotificationsPlainActivity" android:label="Notifications activity"/>

        <!--
        NearIT-UI Intent service, un-comment to enable this feature or replace it with your own if you want to handle notifications
        For info, read the documentation section about background notifications in the "NearIT-UI for notification" chapter
        -->
        <!--<service-->
        <!--android:name="com.nearit.ui_bindings.notifications.NearItUIIntentService"-->
        <!--android:exported="false"-->
        <!--android:permission="android.permission.BIND_JOB_SERVICE">-->
        <!--<intent-filter>-->
        <!--<action android:name="it.near.sdk.permission.PUSH_MESSAGE" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="it.near.sdk.permission.GEO_MESSAGE" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--</service>-->

    </application>

</manifest>
