<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.nearit.ui_bindings_kotlin_sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="near_api_key"
            android:value="@string/near_api_key" />

        <activity android:name=".PermissionsActivity" />
        <activity android:name=".CouponsActivity" />
        <activity android:name=".ContentActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".CouponPlainActivity" android:label="Coupon detail activity"/>
        <activity android:name=".FeedbackPlainActivity" android:label="Feedback activity"/>
        <activity android:name=".ContentPlainActivity" android:label="Content detail activity"/>
        <activity android:name=".CouponListPlainActivity" android:label="Coupon list activity"/>
    </application>

</manifest>
